input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; }

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.bagCardMainContainer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
    padding: 4% 4%;
}