.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subContainerA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 16%;
}

.subContainerB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  padding: 0 16%;
}